<div class="filter-form">
	<form class="form-horizontal">
		<div class="form-group-wrapper">
			<div class="form-group">
				<div class="col-sm-11">
					<label class="control-label">Hosting Type</label>
					<rzslider
						class="slider"
						rz-slider-model="slider.budget.min"
						rz-slider-high="slider.budget.max"
						rz-slider-options="slider.budget.options">
					</rzslider>

					<ul class="price-range">
						<li>
							From <span>${{slider.budget.min}}</span>
						</li>

						<li>
							To <span>${{slider.budget.max}}</span> /month
						</li>
					</ul>
				</div>

				<div class="col-sm-1">
					<div class="icon-container">
						<i class="fa fa-check" aria-hidden="true"></i>
					</div>
				</div>
			</div>
		</div>

		<div class="form-group-wrapper">
			<div class="form-group">
				<div class="col-sm-11">
					<label class="control-label">Budget</label>
					<rzslider
						class="slider"
						rz-slider-model="slider.budget.min"
						rz-slider-high="slider.budget.max"
						rz-slider-options="slider.budget.options">
					</rzslider>

					<ul class="price-range">
						<li>
							From <span>${{slider.budget.min}}</span>
						</li>

						<li>
							To <span>${{slider.budget.max}}</span> /month
						</li>
					</ul>
				</div>

				<div class="col-sm-1">
					<div class="icon-container">
						<i class="fa fa-check" aria-hidden="true"></i>
					</div>
				</div>
			</div>
		</div>

		<div class="form-group-wrapper">
			<div class="form-group submit-btn-container">
				<div class="col-lg-12">
					<button type="submit" class="btn btn-success">Get Hosting List</button>
				</div>
			</div>
		</div>
	</form>
</div>