@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import "bootstrap.min";
@import "mixins";
@import "rzslider.min";

$color-primary: #2C333E;
$color-secondary: #D5473E;

body {
	font-family: 'Lato', sans-serif;
	background-color: $color-primary;
}

.container {
	max-width: 600px;
	position: relative;
	margin-top: 20px;
}

.logo-container {
	h1 {
		position: absolute;
		left: -200px;
		top: 0;
		color: #fff;
		margin-top: 0;
		text-transform: uppercase;
		font-weight: 600;
	}
}

.icon-container {
	i {
		margin-top: 60px;
		color: #00ba00;
		font-size: 1.5em;
	}
}

.filter-form {
	.form-group-wrapper {
		padding: 20px;
		background-color: rgba(255, 255, 255, .05);
		@include border-radius(2px);
		border-right: 1px solid white;
		margin-bottom: 10px;

		.submit-btn-container {
			margin-bottom: 0;
			button {
				&.btn {
					border: none;
					@include border-radius(2px);
					font-size: 1.2em;
				}
			}
		}

		.form-group {
			text-align: left;
			label {
				&.control-label {
					text-transform: uppercase;
					margin-bottom: 10px;
					color: white;
				}
			}
			
			input {
				@include border-radius(2px);
				border: none;
			}
		}

		ul {
			margin: 0;
			padding: 10px;
			list-style-type: none;
			border: 1px solid rgba(255,255,255,.1);
			display: inline-block;

			&.price-range {
				li {
					color: #fff;
					margin: 0;
					padding: 0;
					display: inline-block;
					font-size: 1.1em;

					span {
						font-weight: 600;
						color: greenyellow;
					}
				}
			}
		}
	}
}

.slider {
	.rz-bubble {
		color: white;

		&.rz-limit {
			color: darken(white, 20%);
		}
	}

	.rz-pointer {
		width: 22px;
		height: 22px;
		top: -9px;

		&:after {
			top: 9px;
			left: 8px;
			width: 5px;
			height: 5px;
		}
	}

	.rz-active {
		&:after {
			background-color: $color-secondary !important;
		}
	}
}

