@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import "bootstrap.min";
@import "mixins";

$color-primary: #2C333E;
$colo-secondary: #D5473E;

body {
	font-family: 'Lato', sans-serif;
	background-color: $color-primary;
}

.container {
	max-width: 600px;
	position: relative;
	margin-top: 20px;
}

.logo-container {
	h1 {
		position: absolute;
		left: -200px;
		top: 0;
		color: #fff;
		margin-top: 0;
		text-transform: uppercase;
		font-weight: 600;
	}
}

.icon-container {
	i {
		margin-top: 36px;
		color: #00ba00;
	}
}

.filter-form {
	.form-group-wrapper {
		padding: 20px;
		background-color: rgba(255, 255, 255, .05);
		@include border-radius(2px);
		border-right: 1px solid white;
		margin-bottom: 10px;

		.submit-btn-container {
			margin-bottom: 0;
			button {
				&.btn {
					border: none;
					@include border-radius(2px);
					font-size: 1.2em;
				}
			}
		}

		.form-group {
			label {
				&.control-label {
					text-transform: uppercase;
					margin-bottom: 5px;
					color: white;
				}
			}
			
			input {
				@include border-radius(2px);
				border: none;
			}
		}
	}
}